<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Fated" />
    <meta name="keywords" content="Fated" />
    <meta name="author" content="GrayJunZi" />
    <title>@ViewData["Title"] - Fated</title>
    <!-- Favicon -->
    <link rel="icon" href="~/images/logo/letter-logo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/logo/letter-logo.png" type="image/x-icon" />

    <!-- Fonts & Icons -->
    <link rel="stylesheet" href="~/fonts/font-awesome/css/all.min.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <!-- Style -->
    <link rel="stylesheet" href="~/css/fated.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    @await Html.PartialAsync("_Header")

    <main class="container-fluid p-3">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")

    <!-- jQuery & Bootstrap -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Scripts -->
    <script src="~/js/fated.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
